<div class="container">
  <div class="row justify-content-sm-center">
    <% if @query %>
      <% if @cocktails.empty? %>
        <h6>No results found for <strong><%= @query.upcase %></strong></h6>
      <% else %>
        <div class="container">
          <div class="row justify-content-sm-center">
            <% @cocktails.count == 1 ? sg_pl = "cocktail" : sg_pl = "cocktails" %>
            <h6>Found <%= @cocktails.count %> <%= sg_pl %> for <strong><%= @query.upcase %></strong> out of <%= Cocktail.count %> </h6>
          </div>
        </div>
      <% end %>
    <% end %>
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 300px; margin: 24px;">
        <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
