<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, :collection => Ingredient.order(:name) %> <!-- case sensitive! -->
    <%= f.input :description %>
    <%= f.submit "Add dose" %>
   <% end %>
</div>
