<div class="container-reviews">
  <div class="row">
    <div class="col-sm-6">
  <h1 class="brand"><%= link_to @cocktail.name, cocktail_path(@cocktail)%></h1>
</div>
  <div class="col-sm-6 text-right">
  <%= link_to 'Add new review', new_cocktail_review_path(@cocktail), class: "btn-green" %>
</div>
  </div>
  <% @cocktail.reviews.count == 1 ? sg_pl = "review" : sg_pl = "reviews" %>
  <h4>This cocktail has <%= @cocktail.reviews.count %> <%= sg_pl %> : </h4>
  <hr>
  <% @cocktail.reviews.order(created_at: :desc).each do |review| %>
    <div class="row">
      <div class="col-sm-6">
        <strong><%= review.created_at.to_a[3..5].join(". ") %>.</strong>
        <br>
        <%= review.content %>
      </div>
      <div class="col-sm-6 text-right">
        <%= "â­" * review.rating %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
