<div class="container-reviews">
  <div class="row">
    <div class="col-sm-6">
  <h1 class="brand"><%= link_to @cocktail.name, cocktail_path(@cocktail)%></h1>
</div>
  <div class="col-sm-6 text-right">
  <%= link_to 'Add new review', new_cocktail_review_path(@cocktail), class: "btn-green" %>
</div>
  </div>
  <h4>This cocktail has <%= pluralize @cocktail.reviews.size, 'review' %> : </h4>
  <hr>
  <% @cocktail.reviews.order(created_at: :desc).each do |review| %>
    <div class="row">
      <div class="col-sm-6">
        <strong><%= review.created_at.strftime("%d. %B, %Y.") %></strong>
        <br>
        <%= review.content %>
      </div>
      <div class="col-sm-6 text-right">
        <%= "â­" * review.rating %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
